
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** background color **/
  --background-gradient: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --dark-text-color: hsl(229, 25%, 31%);
  --paper-gradient-darken: hsl(230, 89%, 65%);
  --rock-gradient-darken:  hsl(349, 70%, 56%);
  --scissor-gradient-darken: hsl(40, 84%, 53%);
  /** items colors **/
}

@layer base {
  body {
    @apply font-Barlow;
    background: var(--background-gradient);
    text-align: center;
    /* color: #fff; */
    font-size: 1.5rem;
  }

  .image {
    min-width: 40px !important;
    min-height: 40px !important;
  }

  .paper {
    box-shadow: inset 0px 5px 6px grey, 
    0px 8px var(--paper-gradient-darken);
  }

  .paper__win, .paper__house_win {
    box-shadow:inset 0px 5px 6px grey, 
    0px 8px var(--paper-gradient-darken),
    0px 0px 0px 50px rgba(255, 255, 255, .07),
    0px 0px 0px 100px rgba(255, 255, 255, .05),
    0px 0px 0px 150px rgba(255, 255, 255, .025); 
  }


  .rock {
    box-shadow: inset 0px 5px 6px grey, 
    0px 8px var(--rock-gradient-darken);
  }

  .rock__win, .rock__house_win {
    box-shadow:inset 0px 5px 6px grey, 
    0px 8px var(--rock-gradient-darken),
    0px 0px 0px 50px rgba(255, 255, 255, .07),
    0px 0px 0px 100px rgba(255, 255, 255, .05),
    0px 0px 0px 150px rgba(255, 255, 255, .025);
  }

  .scissor {
    box-shadow: inset 0px 5px 6px grey, 
    0px 8px var(--scissor-gradient-darken);
  }

  .scissor__win, .scissor__house_win {
    box-shadow:inset 0px 5px 6px grey, 
    0px 8px var(--scissor-gradient-darken),
    0px 0px 0px 50px rgba(255, 255, 255, .07),
    0px 0px 0px 100px rgba(255, 255, 255, .05),
    0px 0px 0px 150px rgba(255, 255, 255, .025);
  }
  /**rgb(193, 33, 62)*/

  .result a {
    display: block;
    padding: .3rem 1rem;
    background: #fff;
    color: var(--dark-text-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }

  .result a:hover {
    color: red;
  }
}