/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /** background color **/
  --background-gradient: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  /** items colors **/
}

@layer base {
  body {
    @apply font-Barlow;
    background: var(--background-gradient);
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
  }
}